header {
    background: linear-gradient(315deg, rgba(0,235,188,1) 0%, rgba(0,25,98,1) 100%);
    color: #fff;
    padding: 4rem 0;
    text-align: center;
    left: 0;
    right: 0;
    max-width: 100vw; 
}


header h1 {
    font-size: 2.5rem;
}

header h2 {
    font-size: 1.5rem;
}

header h1, header h2 {
    font-family: 'Dancing Script', cursive;
}

header p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

header .container .p {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 1rem 0; 
}

header .container .p p {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0; 
    color: #fff;
    max-width: 90%; 
    text-align: center; 
}